<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="SinemaConnStr" connectionString="Server=WISSEN\MSSQL2017;Database=SinemaDB;User Id=sa;Password=12345w;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
